#html {
    height: 100%;
    width: 100%;
    font-family: "Titillium Web", sans-serif;
    background-color: white;
}

#body {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(pink, violet);
}

#main-title {
    min-height: 100%;
    min-width: 100%;
    background: linear-gradient(#dfa7df, white);
    text-align: center;
}

#entries-list {
    background: white;
}